body {
    margin: 0;

    font: 15px Arial, sans-serif;
    line-height: 1.5;
    color: #333;

    background: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.title {
    font-family: Tahoma, sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.justify {
    text-align: justify;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
}

ul {
    list-style-type: square;
    list-style-position: outside;

    color: #114eaf;
}

ol {
    list-style-type: decimal-leading-zero;
}

.table {
    width: 100%;
    border: 1px dashed #aaaaaa;
    border-collapse: collapse;
}

.table th {
    padding: 5px 10px;
    text-align: left;
    color: #ef2828;
}

.table td {
    padding: 5px 10px;
    border: 1px dashed #aaaaaa;
}

.table tfoot td {
    text-align: right;
}

.text-red {
    display: inline-block;
    width: 100px;

    color: #ce2424;
    font-weight: 700;
    font-style: italic;
}

.page {

}


/* Post */
.post {
    width: 600px;
    height: 300px;
    padding: 15px 25px;
    margin: 0 auto 20px;

    border: 1px solid #ddd;

    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}

.post-title {
    margin-top: 0;
    margin-bottom: 20px;

    color: #f5f518;
}

.post-text {
    color: #fff;
}

.post-text p {
    margin: 0 0 10px 0;
}


/* Gradient */
.gradient {
    width: 600px;
    height: 300px;
    margin: 0 auto;

    /*background-image: linear-gradient(to left, #fff 20%, #333 20%, #333 40%, #fff 40%, #fff 60%, #333 60%, #333 80%, #fff 80%);*/
    background-image: radial-gradient(circle, #fff, #333);
}


/* Form */
.form {
    width: 500px;
    padding: 20px;
    margin: auto;

    background-color: #d5d4d4;
}

.form-group {
    margin-bottom: 15px;
}

.form-input {
    display: block;
    padding: 5px;

    border: 1px solid #000;

    font-family: Arial, sans-serif;
    font-size: 15px;
}

.form-input:focus {
    outline: none;

    background-color:#acd8ff;
}


/*    Дополнительная информация   */

.form-textarea {
    max-width: 429px;
    min-width: 212px;
    min-height: 150px;
    max-height: 150px;
    padding: 5px;

    border: 5px solid #000;
    outline: 5px solid blue;

    resize: horizontal;
/*    box-sizing: border-box;*/

    font: bold italic 15px/1.5 Arial, sans-serif;
}

.form-textarea:focus {
    outline: none;

    background-color:#acd8ff;
}

.label_female {
    margin-left: 10px;
}

    /*    Link (Ссылки)    */

.link {
    color: #000aff;
    text-decoration: none;
}

.link:visited {
    color: #9a00de;
}

.link:hover {
    text-decoration: underline;
}

    /*    Buttons (Кнопки)    */

.button {
    padding: 5px 10px;

    background-color: #008b00;
    border: 1px solid #006500;
    color: white;

    transition: background 0.2s linear, border-color 0.2s linear;
}

.button:focus {
    outline: none;
}

.button:hover,
.button:focus {
    background-color: #006500;
    border-color: #1ec1c4;
    cursor: pointer;
}

.button:active {
    background-color: #014b01;
}

.button:disabled {
    background-color: #535353;
    color: #c7c7c7;
    cursor: not-allowed;
    border: 1px solid #535353;
}


/*    Контактная информация    */

.form-fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 0px;
    border-left-width: 4px;
    border-style: solid;
    border-color: rgb(0, 77, 103);
}

.form-title {
    margin: 0 0 15px;
}

/* Modal */

.modal {
    width: 500px;
    height: 200px;
    margin: 20px auto;
    padding: 15px;
    position: relative;

    background-color: #eee;
}

.modal-title {
    margin: 0;
}

.square {
    width: 50px;
    height: 50px;

    background-color: #333;

    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 2;
}

.square.red {
    background-color: red;
    right: -15px;
    top: -5px;
    z-index: 1;
}

.square-fixed {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;

    background-color: #000eb5;

    position: fixed;
    top: 50%;
    left: 50%;

}

    /* Pseudo */

.pseudo-title {
    margin: 0;
    font-size: 30px;
    text-align: center;

    position: relative;
}

.pseudo-title:before {
    content: "";

    display: block;

    margin-left: -35px;

    width: 70px;
    height: 3px;

    position: absolute;
    bottom: -3px;
    left: 50%;

    background-color: #8a09a2;
}

.pseudo-title:after {
    content: "";

    display: block;

    margin: 5px auto;

    width: 70px;
    height: 3px;

    background-color: #0e984e;
}

.pseudo-text p:first-letter {
    color: #c60000;
    font-size: 20px;
}

.pseudo-text p:first-line {
    color: #3335;
}


    /* CSS3 */

.element {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    padding: 20px;

    background-color: #ccc;
/*    border-radius: 20% 20% 30% 40% / 30% 30% 40% 50%;*/
    border-radius: 20px;
    box-shadow: 15px 15px 20px #887b7b inset, -15px -15px 20px #a25151;

    opacity:0.3;

}

.element-title {
    margin: 0;

    text-shadow: 1px 1px 2px #887b7b, 2px 2px 4px #1f13af
}

    /* Page */
.page {
    width: 600px;
    margin: 20px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eee;
}

.header-item {
    flex-basis: 0;
    flex-grow: 1;
}

.header-tel {
    order: 1;
}

.header-logo {
    order: 2;
}

.header-lang {
    order: 3;
}

.content {
    display: flex;
}

.sidebar {
    width: 20%;

    background-color: #333;
}

.main {
    width: 60%;
    padding: 20px;

    background-color: #ccc;
}

.footer {
    padding: 10px;

    background-color: #eee;
}























